* {
    font-family: sans-serif;
    color: ghostwhite;
}
body {
    background: slategrey;
    font-size: 1.75em;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div#content {
    width: 32em;
    max-width: 100%;
}
div#shiritori p {
    margin: 0;
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes slidein {
    from {
        transform: translateX(-32px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}
div#shiritori {
    padding: 2px;
    height: 24em;
    overflow-y: scroll;
}
div#shiritori, input#shiritori-input, #split > :last-child {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
div#shiritori, input#shiritori-input {
    padding: 0.25em;
}
input {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0.25em;
}
input#shiritori-input {
    width: 100%;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
input#shiritori-input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.125);
}
div#shiritori {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#split {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}
#split > * {
    width: 16em;
}
a {
    text-decoration: none;
}
a:hover {
    border-bottom: 2px solid;
}
button {
    background: rgba(0, 0, 0, 0.25);
    font-size: inherit;
    cursor: pointer;
    padding: 1em;
    border: 0;
}
